 <section class="todoapp">
    <header class="header">
       <h1>TODO LISTS</h1>
        <input class="new-todo" placeholder="What needs to be done?" autofocus="">
    </header>

    <section class="main">
        <ul class="todo-list">
            <li>
                <div class="view">
                    <label><a href="#">Shopping List</a></label>
                </div>
            </li>
        </ul>
         <ul class="todo-list">
            <li>
                <div class="view">
                    <label><a href="#">Gift List</a></label>
                </div>
            </li>
        </ul>
        <ul class="todo-list">
            <li>
                <div class="view">
                    <label><a href="#">Reading List</a></label>
                </div>
            </li>
        </ul>

        
    </section>

    <footer class="footer">
    </footer>
</section>
